/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { 
  font-size: 2.5em;
}

p { margin: 1em 0; }

a         { color:  #CC6600; }
a:visited { color:  #FFFBD0; }
a:hover   { color:  #FF9900; }
a:active  { color:  #C13100; }


.banner {
  position: relative;
  margin: auto;
  display: block;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  margin-top: 100px;
}

.logo > img {
  width: inherit;
  height: inherit;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.clear {
  clear: both;
  margin-top: 20px;
}




